<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>2016 platform</title>
    <!-- Google Web Font Loader-->
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <script>
        WebFont.load({
            events: false,
            google: {families: ['Roboto:400,300,500', 'Roboto Condensed:400,300,700'],},
        });
    </script>
    <!-- END Google Web Font Loader-->

    <!-- Google Analytics -->
    <!--  google recommends before closing head tag
     this alternative tag optimizes for modern browsers (IE 10 and above)
     https://developers.google.com/analytics/devguides/collection/analyticsjs/advanced#alternativeSnippet
    -->
    <script async src='//www.google-analytics.com/analytics.js'></script>
    <script>
        window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
    </script>
    <!-- End Google Analytics -->
</head>
<body>
<noscript><h2>JavaScript is disabled in your browser. Please enable it.</h2></noscript>
<div id="react-app"></div>
</body>
</html>
